<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Signup.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <title>Sign In</title>
</head>
<body>
    <div class="block" id="block">
        <h1 style="text-align: center;font-size: 40px;font-family: system-ui;;">Sign Up</h1>
        <div style="position: absolute;top: 120px;left:180px;font-size:30px;font-family: system-ui;">Username</div>
        <input type="text" id="username" placeholder="Enter username ..." class="input" style="top: 180px;">
        <div style="color: red;left: 76px;top: 230px; position: absolute;font-size: 19px;" id="error1"></div>
        <div style="position: absolute;top: 260px;left:185px;font-size:30px;font-family: system-ui;">Password</div>
        <input type="password" placeholder="Enter password ..." class="input" id="password" style="top: 320px;">
        <i class="bi bi-eye-slash" id="togglePassword"></i>
        <div style="color: red;left: 76px;top: 370px; position: absolute;font-size: 19px;" id="error2"></div>
        <div style="position: absolute;top: 400px;left:145px;font-size:30px;font-family: system-ui;">Repeat Password</div>
        <input type="password" placeholder="Repeat password ..." class="input" id="reppassword" style="top:460px;">
        <i class="bi bi-eye-slash" id="togglePassword2"></i>
        <div style="color: red;left: 76px;top: 510px; position: absolute;font-size: 19px;" id="error3"></div>
        <button class="submit" onclick="Valid()" id="submit">Submit</button>
        <div style="color: red;left: 180px;top: 603px;position: absolute;font-size: 19px;" id="error4"></div>
        <button class="to" onclick="ToSignIn()">Already have an account? click here</button>
    </div>
    <script type="text/javascript" src="/static/js/Signup.js" charset="utf-8" ></script>
</body>
</html>